{% extends "base.html" %}

{% block navblock %}Email Template{% endblock navblock %}
{% load crispy_forms_tags %}
<!-- Main content -->
{% block content %}
<section class="content">
    <div class="card">
        <div class="card-body table-responsive">
            <div class="container-fluid">
                <form method="POST">
                    {% csrf_token %}
                    {{ emailForm.media }}
                    {{ emailForm|crispy }}
                    <button type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}