{% extends 'base.html' %}

{% block navblock %}Configuration{% endblock navblock %}

{% block content %}
<section class="content">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">✕</button>
  </div>
  {% endfor %}
  <div class="card">
    <div class="card-body table-responsive">
      <div id="content-main" class="container-fluid">
        <div class="module filtered" id="changelist">
          <div class="row p-12">
            <div class="col-md">
              <span class="float-sm-right">
                <a href="/customadmin/addconfiguration" class="btn btn-primary btn-sm text-light">
                  <i class="fas fa-plus">Add Configuration</i>
              </a>
            </span>
          </div>
          <hr class="solid">
          <link rel="stylesheet" type="text/css"
            href="/static/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
          <div class="row">
            <div class="col-12">
              <hr class="solid">
              <div id="result_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                  <div class="actions col-sm-6 col-md-6">
                    <label>Action: <select name="action" required="">
                        <option value="" selected="">---------</option>

                        <option value="delete_selected">Delete selected users</option>

                      </select></label><input type="hidden" name="select_across" value="0" class="select-across">
                    <button type="submit" class="button" title="Run the selected action" name="index"
                      value="0">Go</button>
                    <span class="action-counter" data-actions-icnt="1" style="display: inline;">1 of 1
                      selected</span>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="result_list_filter" class="dataTables_filter"><label>Search:<input type="search"
                          class="form-control form-control-sm" placeholder="" aria-controls="result_list"></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table id="result_list" class="table table-hover table-striped table-head-fixed dataTable"
                      role="grid" aria-describedby="result_list_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="
                  
              : activate to sort column descending" style="width: 36.3281px;">
                            <span><input type="checkbox" id="action-toggle"></span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label=">
                   ID
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>ID</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label=">

                   configuration Key
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Configuration Key</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                   configuration value
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Configuration Value</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                  Created By
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Created By</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                  Created Date
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Created Date</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                  Modify By
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Modify By</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                 Modify Date
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Modify Date</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="
              
              : activate to sort column ascending" style="width: 120.938px;">
                            <span>Actions</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for configuration in configurations %}
                        <tr class="row1 odd selected" role="row">
                          <td class="action-checkbox sorting_1"><input type="checkbox" name="_selected_action" value="1"
                              class="action-select"></td>
                          <td class="field-id">{{ configuration.id }}</td>
                          <td class="field-id">{{ configuration.configuration_key }}</td>
                          <td class="field-id">{{ configuration.configuration_value}}</td>
                          <td class="field-created_by">{{ configuration.created_by }}</td>
                          <td class="field-created_date">{{ configuration.created_date }}</td>
                          <td class="field-modify_by">{{ configuration.modify_by }}</td>
                          <td class="field-modify_date">{{ configuration.modify_date }}</td>
                          <td>
                            <a href="/customadmin/editConfig/{{ configuration.id }}"
                              style="margin: 2px;padding: 5px;color: white;border: none;background: green;"><span
                                class="fas fa-pencil-alt"></span></a>
                            <a data-toggle="modal" data-target="#exampleModalCenter{{ configuration.id }}"
                              style="margin: 2px;padding: 5px;color: white;border: none;background: red;"><span
                                class="far fa-trash-alt"></span></a>
                            <!-- <a href="/customadmin/deleteConfig/{{ configuration.id }}"
                              style="margin: 2px;padding: 5px;color: white;border: none;background: red;"><span
                                class="far fa-trash-alt"></span></a> -->
                          </td>
                        </tr>
                        <div class="modal fade" id="exampleModalCenter{{ configuration.id }}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete Alert</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">Are you sure, you want to delete Banner
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a href="/customadmin/deleteConfig/{{ configuration.id }}"><button type="button"
                                    class="btn btn-primary">Yes</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        $(document).ready(function () {
          // messages timeout for 10 sec
          setTimeout(function () {
            $('.alert').fadeOut('slow');
          }, 1000); // <-- time in milliseconds, 1000 =  1 sec
        });
      </script>
</section>
{% endblock content %}