{% extends 'base.html' %}


{% block navblock %}Contact Us{% endblock navblock %}

{% block content %}
<section class="content">
  <h3>Contact Us</h3>
  <div class="card">
    <div class="card-body table-responsive">
      <div id="content-main" class="container-fluid">
        <div class="module filtered" id="changelist">
          <div class="row p-2">
          </div>
          <h5>Contact table</h5>
          <hr class="solid">
          <link rel="stylesheet" type="text/css"
            href="/static/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
          <div class="row">
            <div class="col-12">

              <div id="result_list_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                  <div class="actions col-sm-6 col-md-6">
                    <label>Action: <select name="action" required="">
                        <option value="" selected="">---------</option>

                        <option value="delete_selected">Delete selected users</option>

                      </select></label><input type="hidden" name="select_across" value="0" class="select-across">
                    <button type="submit" class="button" title="Run the selected action" name="index"
                      value="0">Go</button>
                    <span class="action-counter" data-actions-icnt="1" style="display: inline;">1 of 1
                      selected</span>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="result_list_filter" class="dataTables_filter"><label>Search:<input type="search"
                          class="form-control form-control-sm" placeholder="" aria-controls="result_list"></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table id="result_list" class="table table-hover table-striped table-head-fixed dataTable"
                      role="grid" aria-describedby="result_list_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="
                  
              : activate to sort column descending" style="width: 36.3281px;">
                            <span><input type="checkbox" id="action-toggle"></span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="
                  ID
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>ID</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                   Name
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Name</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="


                   email
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>email</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="
            

                  Created Date
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Created Date</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                  Modify By
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Modify By</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="

                 Modify Date
              : activate to sort column ascending" style="width: 120.125px;">
                            <span>Modify Date</span>
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                            aria-label="
              
              : activate to sort column ascending" style="width: 120.938px;">
                            <span>Actions</span>
                          </th>
                          <!-- <th class="sorting" tabindex="0" aria-controls="result_list" rowspan="1" colspan="1"
                              aria-label="
                  Staff status
              : activate to sort column ascending" style="width: 130.984px;">
                              <span>Staff status</span>
                            </th> -->
                        </tr>
                      </thead>
                      <tbody>
                        {% for contact in contacts %}
                        <tr class="row1 odd selected" role="row">
                          <td class="action-checkbox sorting_1"><input type="checkbox" name="_selected_action" value="1"
                              class="action-select"></td>
                          <td>{{ contact.id }}</td>
                          <th><a href="/admin/auth/contact/">{{ contact.name }}</a></th>
                          <td>{{ contact.email }}</td>
                          <td>{{ contact.created_date }}</td>
                          <td>{{ contact.modify_by }}</td>
                          <td>{{ contact.modify_date }}</td>
                          <td>
                            <a href="/customadmin/viewcontact/{{ contact.id }}"
                              style="margin: 2px;padding: 5px;color: white; border: none; background: grey;"><span
                                class="fas fa-eye"></span></a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>

                    </table>
                  </div>
                </div>
                <div class="row"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="solid">
      <div style="margin-left: auto; margin-right: 0;">
        {% if contacts.has_other_pages %}
        <ul class="pagination">
          {% if contacts.has_previous %}
          <button><a href="?page={{ contacts.previous_page_number }}">Previous</a></button>
          {% else %}
          <li class="disabled"><button>Previous</span></button></li>
          {% endif %}

          <li style="background-color: rgb(7, 70, 241);height: auto;width: 30px;text-align: center;"><a>
              {{contacts.number}}</a></li>

          {% if contacts.has_next %}
          <button><a href="?page={{ contacts.next_page_number }}">Next</a></button>
          {% else %}
          <li class="disabled"><button>Next</button></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
</section>
{% endblock content %}